replicaCount: 1

image:
  repository: lebrickbot-backend
  tag: latest
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  automount: true
  name: ""

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  className: traefik
  annotations: {}
  hosts:
    - host: openbrick.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}

autoscaling:
  enabled: false

livenessProbe:
  httpGet:
    path: /healthz
    port: 8000

readinessProbe:
  httpGet:
    path: /healthz
    port: 8000
