apiVersion: apps/v1
kind: Deployment
metadata:
  name: lebrickbot-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lebrickbot-backend
  template:
    metadata:
      labels:
        app: lebrickbot-backend
    spec:
      containers:
        - name: backend
          image: lebrickbot-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
